{% block head %}

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="index.css">

{% endblock %}

{% block title %}
	Welcome to the Book APP Homepage!
{% endblock %}

{% block body %}

	{% if session[usernames] is None %}

		<div class="container">
			<div class="row align-items-start">
				<div class="col">
					<form action="{{ url_for("login") }}" methods=["POST"]>
						<div class="form-group">
							<label for="username">USERNAME</label>
							<input type="text" class="form-control" username="username" id="inlineFormInputGroupUsername2" placeholder="Username">
						</div>
					</form>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" password="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary">SUBMIT</button>
				</div>
			</div>
			<div class="row align-items-center">

	{% endif %}

	{% if session[usernames] is not None %}

	<h1>Welcome {username}</h1>

				<div class="col">
					<button type="logout" action="logout" class="btn btn-primary">LOGOUT</button>
				</div>

	{% endif %}

{% endblock %}


